<!DOCTYPE html>
<html>
<head>
  <title>Members Area</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome, <%= user.name %>!</h1>
  <p>This is the members-only area.</p>
  <img src="/images/<%= image %>" alt="Random Image" style="width:300px;">
  <br><br>
  <a href="/logout">Logout</a>
</body>
</html>
