<!DOCTYPE html>
<html>
<head>
  <title>Members Area</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome, <%= user.name %>!</h1>
  <p>This is the members-only area.</p>

<div class="container">
  <div class="row mb-3 text-center">
    <div class="col-md-4">
      <img src="/images/img1.jpg" class="img-fluid" style="max-width: 100%; height: auto;" alt="Cat 1">
    </div>
    <div class="col-md-4">
      <img src="/images/img2.jpg" class="img-fluid" style="max-width: 100%; height: auto;" alt="Cat 2">
    </div>
    <div class="col-md-4">
      <img src="/images/img3.jpg" class="img-fluid" style="max-width: 100%; height: auto;" alt="Cat 3">
    </div>
  </div>
</div>

  <br><br>
  <a href="/logout">Logout</a>
</body>
</html>
