<!DOCTYPE html>
<%- include('templates/header') %>


<h1 class="display-4 fw-light text-center mt-4">Hello, <%= user.name %>!</h1>

<div class="container mt-3">
  <p class="lead">
    Welcome to the members-only area. Enjoy exclusive content, photos, and features just for you.
  </p>
</div>


<div class="container">
  <div class="row mb-3">
    <div class="col-12 col-md-4 themed-grid-col">
      <img src="/images/img1.jpg" class="img-fluid" alt="Cat 1">
    </div>
    <div class="col-12 col-md-4 themed-grid-col">
      <img src="/images/img2.jpg" class="img-fluid" alt="Cat 2">
    </div>
    <div class="col-12 col-md-4 themed-grid-col">
      <img src="/images/img3.jpg" class="img-fluid" alt="Cat 3">
    </div>
  </div>
</div>

<%- include('templates/footer') %>
